@charset "UTF-8";


.widget-box.mt30 {
    margin-top: 30px
}


.question__content {
    font-size: 16px;
    text-align: justify
}

.question__widget--author {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee
}

.question__widget--author a {
    display: block
}

.question__widget--author img {
    float: left;
    margin-right: 10px
}

.question__container {
    margin-top: 30px
}

.question__writing {
    padding: 15px
}

.question__writing .btn {
    width: 100%;
    margin-top: 10px
}

.question__title--tag {
    margin-bottom: 0
}

.question__author {
    display: inline-block
}

.qa-question .wmd, .qa-question .wmd .wmd-input {
    min-height: 210px
}

.qa-question .editor__resize {
    transform: translateX(-22%)
}

.qa-question .question.fmt {
    margin-bottom: 15px;
    min-height:100px;
}

.main-title {
    margin: 30px 0 25px;
    font-size: 18px;
    vertical-align: middle
}

.qa-question .widget-comments {
    margin-top: 10px
}

.edit-btn {
    color: #999
}

.post-col {
    width: 40px;
    position: absolute
}

.post-col .unlike-alert {
    position: absolute;
    z-index: 100;
    top: 60px
}

.post-col .unlike-alert .close {
    right: auto
}

.widget-question__item .unlike-alert {
    width: 390px
}

.widget-answers__item.accepted {
    min-height: 120px
}

.widget-answers__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd
}

.widget-answers__item .post-offset {
    -webkit-transition: all 1s ease;
    transition: all 1s ease
}

.widget-answers__item .post-offset .answer.fmt {
    min-height:100px;
    margin-bottom: 15px
}

.widget-answers__item .highlight {
    background: #fff9eb
}

.widget-answers__item .unlike-alert {
    width: 380px
}

.widget-answers__item .answer__info--row a {
    font-size: 14px
}

.widget-answers__item .answer__info--row span {
    font-size: 13px
}

.widget-answers__item .answer__info--author {
    padding-left: 0;
    line-height: 32px
}

.widget-answers__item .answer__info--author-avatar {
    padding-right: 0;
    text-align: right;
    line-height: 32px
}

.widget-answers__item .answer__info--author-warp {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    text-align: left
}

.widget-answers__item .answer__info--author-name {
    max-width: 8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-bottom: 2px;
    line-height: 16px
}

.widget-answers__item .answer__info--author-rank {
    color: #999
}

.widget-invite {
    background-color: #f6f6f6;
    border: 1px dashed #ccc;
    padding: 15px;
    padding-bottom: 5px;
    overflow: hidden;
    margin-left: 65px
}

.widget-invite-list {
    border-top: 1px dashed #ccc;
    padding-top: 15px
}

.widget-invite-list img {
    margin-right: 10px
}

.widget-vote {
    position: relative;
    width: 40px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    background: #f3f3f3;
    color: #666;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.widget-vote:hover {
    background-color: #fff7e2
}

.widget-vote button {
    position: absolute;
    left: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    background: transparent url(../../global/img/vote-bg.svg) 0 0 no-repeat;
    background-size: auto 60px
}

.widget-vote .like {
    top: 0;
    height: 36px
}

.widget-vote .like:hover {
    background-position: -40px 0
}

.widget-vote .like.active {
    background-position: -80px 0
}

.widget-vote .hate {
    bottom: 0;
    height: 18px;
    background-position: 0 bottom
}

.widget-vote .hate:hover {
    background-position: -40px bottom
}

.widget-vote .hate.active {
    background-position: -80px bottom
}

.widget-vote .likeAndhate {
    line-height: 14px;
    font-size: 14px;
    height: 54px;
    padding-top: 13px;
    display: none
}

.widget-vote .likeAndhate p {
    margin-bottom: 0
}

.widget-vote .likeAndhate p.dull-red {
    color: #009a61
}

.widget-vote .likeAndhate p.green {
    color: #ad3a37
}

.widget-vote.privilege-prestige-1000:hover .likeAndhate {
    display: block
}

.widget-vote.privilege-prestige-1000:hover .count {
    display: none
}

.post-offset {
    margin-left: 65px
}

.post-opt {
    font-size: 14px;
    line-height: 1;
    padding-top: 9px;
    padding-bottom: 9px
}

.post-opt a {
    color: #999
}

.qa-question .editor {
    min-height: 88px
}

.qa-question .editor .form-control {
    border: none
}

.qa-question .editor .editor-line, .qa-question .editor .editor__menu--live {
    display: none
}

.qa-question .editor_fullscreen .editor-line {
    display: block
}

.ignored {
    display: none
}

.qa-answer .ignored {
    display: block
}

#answerNotify {
    padding: 12px
}

h1 .dropdown {
    font-size: 14px;
    font-weight: 400
}

#answer .question-view .panel-body {
    max-height: 360px;
    overflow-y: scroll
}

.accepted-flag {
    position: relative;
    margin: 10px 0 0;
    background-color: #009a61;
    width: 100%;
    height: 25px;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    z-index: 1;
    border-radius: 2px 2px 0 0
}

.accepted-flag:after {
    position: absolute;
    left: 0;
    top: 25px;
    content: '';
    border-width: 9px 20px;
    border-style: solid;
    border-color: #009a61 #009a61 transparent
}

.sitelist > thead > tr > th {
    border-bottom: 1px solid #ddd
}

.sitelist > tbody > tr > td {
    border-bottom: 1px solid #eee;
    vertical-align: middle
}

.sitelist .site-latest, .sitelist .site-mod, .sitelist .site-name {
    padding: 15px 10px
}

.sitelist .site-name {
    padding-left: 0;
    width: 50%
}

.sitelist .site-mod {
    width: 20%
}

.sitelist .site-latest {
    padding-right: 0;
    width: 30%
}

.sitelist .site-latest a {
    display: block;
    max-width: 290px
}

.sitelist .site-latest small {
    color: #999;
    font-size: 13px
}

.sitelist .site-name > .pull-left {
    margin-right: 15px
}

.sitelist .media-heading {
    font-size: 16px
}

.sitelist .media-body p {
    margin: 0
}

.site-topheader {
    padding: 25px 0;
    background: #f3f3f3
}

.site-topheader .breadcrumb {
    margin: 0 0 10px;
    padding: 0;
    background-color: transparent
}

.site-topheader .media > .pull-left {
    margin-right: 20px
}

.site-topheader .media-object {
    border: 4px solid #fff;
    width: 80px;
    height: 80px;
    background-color: #fff
}

.site-topheader .media-heading {
    margin-bottom: 10px
}

.site-topheader .media-heading a, .site-topheader .media-heading a:active, .site-topheader .media-heading a:hover {
    color: #333;
    text-decoration: none
}

.site-topheader .description {
    position: relative;
    color: #666
}

.site-topheader .description ol:last-child, .site-topheader .description p:last-child, .site-topheader .description ul:last-child {
    margin-bottom: 0
}

.site-topheader .description .list-inline li {
    padding-right: 0
}

.site-topheader .description .list-inline li:after {
    margin-left: 5px;
    content: " •";
    color: #ccc
}

.site-topheader .description .list-inline li:last-child:after {
    content: none
}

.site-blog-widget {
    padding: 12px;
    background: #f6f6f6;
    border-radius: 3px
}

.site-blog-widget .title {
    margin-top: 0;
    font-size: 16px;
    color: #d0021b
}

.site-blog-widget ul {
    margin: 0
}

.site-blog-widget li {
    margin-top: 10px
}

.site-blog-widget small {
    display: block;
    color: #999;
    font-size: 13px
}

.revision-item {
    display: none
}

.revision-item.active {
    display: block
}

.revision-content {
    margin: 10px;
    padding: 30px;
    border: 1px solid #ddd;
    background-color: #fff
}

.revision-content .title {
    margin: 0 0 25px;
    padding: 10px;
    background: #f3f3f3
}

@media (max-width: 768px) {
    .side {
        margin-top: 2rem
    }

    .widget-invite {
        margin-left: 0
    }
}

@media (max-width: 767px) {
    .author {
        margin-bottom: 0
    }

    .question__title--tag {
        margin: 0
    }

    .widget-answers__item .answer__info--author-avatar {
        padding: 0;
        text-align: left
    }
}

@media (max-width: 320px) {
    .widget-comments__form--input {
        width: 100% !important;
        margin-bottom: 1rem
    }
}

.qa-detail__invent-modal .qa-detail__invent {
    padding-top: 10px
}

.qa-detail__invent {
    padding-top: 20px
}

.main .qa-detail__invent {
    border-top: 1px dashed #ccc
}

.qa-detail__invent--hide {
    height: 275px;
    overflow: scroll
}

.qa-detail__invent-item {
    height: 38px;
    margin-bottom: 20px;
    position: relative
}

.qa-detail__invent-item img {
    float: left;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px
}

.qa-detail__invent-info {
    padding-right: 70px;
    padding-left: 40px
}

.qa-detail__invent-btn, .qa-detail__invent-btn--active {
    position: absolute;
    right: 15px;
    top: 10px
}

.qa-detail__invent-desc {
    display: block;
    color: #999;
    font-size: 13px
}

.qa-detail__invent-switch {
    line-height: 30px
}

.tag-popup .top-info {
    width: 100%;
    height: 56px
}

.tag-popup .top-info div {
    float: left
}

.tag-popup .top-info div p {
    margin-bottom: 2px
}

.tag-popup .top-info .author-name {
    color: #009a61;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    padding-top: 0
}

.tag-popup .top-info .badge__icon {
    float: none;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 0
}

.tag-popup .top-info .card-info {
    color: #333;
    line-height: 1.4;
    width: 100%;
    overflow: hidden;
    margin-top: 4px
}

.tag-popup .top-info .card-info span {
    margin-right: 4px
}

.tag-popup .top-info .card-info span.author-rank {
    margin-right: 8px;
    font-weight: 700
}

.tag-popup .top-info .author-rank b {
    color: #999;
    padding-left: 3px;
    font-weight: none
}

.tag-popup .top-info .info {
    display: inline-block;
    padding-left: 15px
}

.tag-popup .excerpt {
    font-size: 13px
}

.tag-popup .footer-info {
    height: 32px;
    width: 100%;
    border-top: 1px solid #eee;
    line-height: 22px;
    margin-top: 12px;
    padding-top: 9px;
    padding-bottom: 3px
}

.tag-popup .footer-info .homepage {
    max-width: 120px;
    font-size: 13px;
    color: #009a61;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 30px;
    vertical-align: bottom;
    line-height: 22px
}

.tag-popup .footer-info .person-card-follow {
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
    line-height: 22px;
    color: #999
}

.tag-popup .footer-info div {
    float: right
}

.tag-popup .footer-info .person-card-addfollow, .tag-popup .footer-info .person-card-isfollow {
    height: 22px;
    line-height: 18px;
    padding: 0 5px;
    border: 1px solid #bbb;
    font-size: 12px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    float: right
}

.prestige-exceed-1000 {
    border: 2px solid #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .24);
    box-sizing: content-box
}
.votebar {
    float: left;
    margin-right: 18px
}
.votebar.keep-top {
    position: fixed;
    top: 60px
}
.answer-fmt{
    min-height: 80px;
}
.votebar .down, .votebar .up {
    background: #eff6fa;
    border: none;
    border-radius: 3px;
    color: #25bb9b;
    cursor: pointer;
    display: block;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 38px;
    outline: 0
}
.votebar .up {
    height: 44px
}

.votebar .label {
    display: block;
    text-indent: -9999em
}

.votebar .count {
    left: 0;
    position: absolute;
    top: 18px;
    top: 10px \9;
    *top: 18px;
    width: 100%;
    display: block
}

.votebar .vote-arrow {
    display: inline-block;
    border: 6px solid transparent;
    font-size: 0;
    height: 0;
    width: 0
}

.votebar .up .vote-arrow {
    border-bottom-color: #25bb9b;
    border-top-style: solid;
    border-top-width: 0;
    margin-bottom: 10px
}

.votebar .up.pressed .vote-arrow, .votebar .up:hover .vote-arrow {
    border-bottom-color: #FFF
}

.votebar .down .vote-arrow {
    border-bottom-width: 0;
    border-top-color: #25bb9b
}

.votebar .down.pressed .vote-arrow, .votebar .down:hover .vote-arrow {
    border-top-color: #fff
}

.votebar .down.pressed, .votebar .down:hover, .votebar .up.pressed, .votebar .up:hover {
    background: #25bb9b;
    color: #fff
}

.votebar .down {
    margin: 5px 0 0
}

.votebar .rcmd-label {
    color: #fff;
    background: #E54E38;
    padding: 2px 5px;
    display: block;
    text-align: center;
    margin-top: 10px
}